body{
    background-image: url("../images/message.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:bottom;
    background-attachment:fixed;
}

.logo{
    position:absolute;
    left: 50%;
    top: 1%;    
}
.container{
    position:relative;
    top:40px;
}
.profile {
    border-radius: 50%;
    border:5px solid #fff;
}
.profile2 {
    border-radius: 50%;
    border:5px solid #fff;
}
.lefttalk{
    position:fixed;
    left:0px;
    height:500px;
    width:200px;
}
.righttalk{
    position:fixed;
    right:0px;
    height:500px;
    width:200px;
}
.picture1{
    position:fixed;
    top:70px;
    left:50px;

}
.picture2{
    position:fixed;
    top:70px;
    right:50px;

}
.chatbox{
   overflow:auto;
   height:700px;
      
}
.input_box{
  
}
.invite{
   position:relative;
}
