<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
     <title>Chatting room</title>
     <!-- 最新編譯和最佳化的 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<link rel="stylesheet" href="../stylesheet/nav.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <link rel='stylesheet' href='../stylesheet/chatroom.css'>
   <script src="../javascript/chat.js"></script>
   
</head>
<body>
    <header>
          <div class = "square">
           <div class="container-fluid">
           <ul class="nav navbar-nav">
        <li><a class="fuckone" href="/">NextoNE</a></li>
        <li><a class="fuck" href="/about_us">關於我們</a></li>
        <li><a class="fuck" href="/venture">冒險世界</a></li>
        <li><a class="fuck" href="/chat">匿名空間</a></li>
        <li><a class="fuck" href="/regist">我是誰</a></li>
           </ul>   
           </div> 
          </div>
    </header>
    <main>
        <div class="lefttalk">
            <div class="picture1">
            <img class="profile"  src="http://placeimg.com/100/100/nature">
            </div>
        </div>
        <div class="righttalk">
            <div class="picture2">
            <img class="profile2" src="http://placeimg.com/100/100/nature">
            </div>
        </div>
     <div class='container'>
       <div class="row">
          <div class='col-md-6 col-md-offset-3'> 
            <div class='chatbox' style="width:100%"></div>
	  </div>
       </div>


       <div class="row">
	  <div class='col-md-6 col-md-offset-3'>
            <input placeholder='say something...' type='text' style="width:80%" class='cont'>
            <button class='send' type='button'>Send</button>  
          </div>

       </div>
     </div>   
    </main>
</body>
</html> 
