<!doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>unfinished</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="../stylesheet/style.css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
     <script src="../javascript/angular.js"></script>
     <link rel="stylesheet" href="../stylesheet/nav.css">
     <script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
     
</head>
<body>
    <header>
          <div class = "square">
           <div class="container-fluid">
           <ul class="nav navbar-nav">
        <li><a class="fuckone" href="/">NextoNE</a></li>
        <li><a class="fuck" href="/about_us">關於我們</a></li>
        <li><a class="fuck" href="/venture">冒險世界</a></li>
        <li><a class="fuck" href="/chat">匿名空間</a></li>
        <li><a class="fuck" href="/regist">我是誰</a></li>
           </ul>   
           </div> 
          </div>
      </header>
    <h1>築夢中，請再多睡一會．</h1>        
</body>
</html>
