<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React</title>
    <script src="https://fb.me/react-0.14.2.js"></script>
    <script src="https://fb.me/react-dom-0.14.2.js"></script>
    <link rel="stylesheet" href="../stylesheet/nav.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel='stylesheet' href='../stylesheet/User.css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
     <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>  
  </head>
  <body>
  <div class='container-fluid'>      
   <div class="row">  
     <div class='col-md-6 col-md-offset-2' id="Chatroom"></div>
     <div class='col-md-3 col-md-offset-1' id='friend_list'></div>
   </div>  
  </div>      
    <script type="text/babel">
       var Userpage = io.connect('luffy.ee.ncku.edu.tw:8104/Userpage');
       $.post('/userdata',function(data){
        var Username = data.name;
        var FriendBox = React.createClass({
	    loadFriend:function(name){
	       $.post('/getFriend',{Username:name},function(data){
	           this.setState({friends:data.friend});
	       }.bind(this));
	    },
	    getInitialState:function(){
	        return {friends:[]};
	    },
            componentDidMount:function(){
	       this.loadFriend(this.props.Username);
	    },
            render:function(){
               return (
                 
                    <div className='FriendBox'>
		       <FriendList Username={this.props.Username} name={this.state.friends}/>
                    </div>
               
               );
            }
        
        });
        var FriendList = React.createClass({
             render:function(){
                 var i=0;
		 var Username = this.props.Username;
                 var friendNodes = this.props.name.map(function(data){
                     i=i+1;
                     return(
			<Friend Username={Username} friendname={data.name} key={i} comment={data.comment}>
                        </Friend>
                     );
                 });
                
               return (
                   
                   <div className="FriendList">
                      {friendNodes}
                   </div>
               );
             }
        });
        var Friend = React.createClass({
	     change_chat:function(){
	       Userpage.emit('chat_user',{User1:this.props.Username,User2:this.props.friendname});
	     },
             render:function(){
                return (
		   <div className="media Friend" onClick={this.change_chat}>
                       <div className="media-left">
                             <img src="https://yt3.ggpht.com/-bblgtbYqJgs/AAAAAAAAAAI/AAAAAAAAAAA/QtA6NOGWJd4/s100-c-k-no/photo.jpg" className='img-circle'/>
                       </div>
                       <div className="media-body">
                          <h2 className="media-heading">{this.props.friendname}</h2>
                          <blockquote >{this.props.comment}</blockquote>  
                       </div>
                   </div>  
                );
             }
        });
        var ChatBox = React.createClass({
	     getInitialState:function(){
	        return {owner:'',messages:[]};
	     },
	     componentDidMount:function(){
		Userpage.on('get_messages',this.get_message);
		Userpage.on('get_other_messages',this.get_other_message);
	     },
	     get_message(data){  
		 this.setState({owner:data.owner,messages:data.messages});
	     },
	     get_other_message(data){
	         if(this.state.owner == data.owner){
		     this.setState({messages:data.messages});
		  }
	     },
	     render:function(){
                return (
                 <div>
                  <ChatRoom messages={this.state.messages}/>
		  <MessageBox owner={this.state.owner} Username={this.props.Username}/>
                 </div>  
                );
             }
        });  
        var ChatRoom = React.createClass({
             render:function(){
                var i=0;
                var messageNode = this.props.messages.map(function(message){
                    i=i+1;
                     return (
                          <Message
                              key={i}
                              name={message.name}
                              text={message.text}
                          />
                      );
                });
                return (
                   <div className='ChatRoom'>
                      {messageNode}
                   </div>
                );
             }
        });
        var Message = React.createClass({
            render:function(){
                return (
                 <div className='Message'>
                  <strong>{this.props.name} :</strong> 
                  <span>{this.props.text}</span>    
                 </div>
                );
            }
        });
        var MessageBox = React.createClass({
	       getInitialState:function(){
	           return {value:''};
	       },
	       handleChange:function(event){
	           this.setState({value:event.target.value});
	       },
               sendMessage : function(){
		  Userpage.emit('Sendmessage',{Username:this.props.Username,message:this.state.value,owner:this.props.owner});
		  this.setState({value:''});
	       },
	       sendByEnter : function(event){
		   if(event.keyCode==13){
		      this.sendMessage();
		   } 
	       },
               render:function(){
	         var value = this.state.value;
                return (
		<div className="input-group MessageBox">
		   <input type="text" className="form-control" placeholder="Type something..." value={value} onChange={this.handleChange} onKeyDown={this.sendByEnter}/>
		   <span className="input-group-btn">
		     <button className="btn btn-default" type="button" onClick={this.sendMessage}>Send</button>
	           </span>
		</div>
																					                         
	       );
            }
        });
         ReactDOM.render(
	       <FriendBox Username={Username}/>,
               document.getElementById('friend_list')
           );        
          ReactDOM.render(
	       <ChatBox Username={Username}/>,
               document.getElementById('Chatroom')
           );   
	});   
    </script>
  </body>
</html>
